#outer-content{
width:100%;
overflow:auto;
position:relative;
text-align:center;
padding-top:20px;
}
#content{
margin:auto;
width:900px;
background:#ffffff;
position:relative;
text-align:left;
padding:20px;
}

#address{
font-size:32px;
font-family: verdana;
color:#CC3300;
width:100%;
}

#price{
position:absolute;
background: url('../images/ear-tag2.png') no-repeat;
top:10px;
right:-16px;
width:280px;
height:100px;
font-size:32px;
color:#ffffff;
padding-top:15px;
padding-right:20px;
text-align:right;
}

#top-section{
width:100%;
height:550px;
}

#info{
margin-top:20px;
margin-left:20px;
padding-top:5px;
padding-bottom:5px;
border-collapse:collapse;
float:left;
}


.info-head{
width:170px;
padding:5px;
padding-bottom:0px;
}

.infobox{
	display:inline-block;
	width:150px;
	padding-right:10px;
	font-size:16px;
	color:#888888;
}

.info-value{
font-weight:bold;
color:#14396A;
width:210px;
padding:5px;
border-bottom:1px dotted #a0a0a0;
}

.info-value a{
text-decoration:none;
color: inherit;
background:url('../images/search.png')  center left no-repeat;
background-position: 0px 3px;
padding-left:20px;
}

#remarks{
font-size:16px;
background:#f4f4f4;
padding:20px;
margin-top:50px;
position:relative;
}

#remarks-shadow{
position:absolute;
bottom:-20px;
left:0px;
width:850px;
height:30px;
}

.toolbar-item2{
	display:inline-block;
	color:#14396a;
	font-family:Verdana;
	font-size:12px;
	font-weight:bold;
	padding:8px 13px;
	padding-left:32px;
	text-align:left;
	position:relative;
}

.toolbar-item2:hover{
background: #ffffff;
}

.toolbar-item2 a{
text-decoration:none;
color: #444444;
}

.toolbar-img{
	position:absolute;
	left:5px;
	top:6px;
}

#wrapper{
width: 640px;
height: auto;
float:left;
background: #ffffff;
margin-top:20px;
position:relative;
padding:10px;
padding-bottom:20px;
-webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
-moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
box-shadow: 0px 1px 5px 0px #4a4a4a;
}

#inquiry{
margin:auto;
width:900px;
background:#f8f8f8;
position:relative;
text-align:left;
padding-left:5px;
padding-right:5px;
overflow:auto;
border-top: 1px dashed #a0a0a0;
margin-top:20px;
}

#inquiryform{
width:800px;
display:inline-block;
float:left;
}

#comment{
width:560px;
}

.inquirybutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23) );
	background:-moz-linear-gradient( center top, #ffec64 5%, #ffab23 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23');
	background-color:#ffec64;
	-moz-border-radius:11px;
	-webkit-border-radius:11px;
	border-radius:11px;
	border:2px solid #ffaa22;
	display:inline-block;
	color:#333333;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffee66;
}.inquirybutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64) );
	background:-moz-linear-gradient( center top, #ffab23 5%, #ffec64 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64');
	background-color:#ffab23;
}.inquirybutton:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */

#inquiryform input.error{
	border: 1px solid red;
}

.error{
color:#14396A;
font-size:14px;
font-weight:bold;
}

#similar-container{
width:100%;
overflow:auto;
position:relative;
text-align:center;
padding-top:20px;
overflow:auto;
}

#similar{
margin:auto;
width:900px;
background:#ffffff;
position:relative;
text-align:left;
padding:20px;
overflow:auto;
}

.similar-heading{
font-size:20px;
font-family: verdana;
color:#CC3300;
margin-left:55px;
}

.similar-property{
float:left;
width:200px;
margin:10px;
overflow:auto;
}

.similar-image{
width:150px;
height:112px;
border: 5px solid #ffffff;
border-bottom: 10px solid #ffffff;
box-shadow: #777777 0px 0px 5px 0px;
}

.similar-address{
font-size:12px;
color:#CC3300;
margin-top:3px;
}

.similar-price{
	font-size:12px;
	color:#14396A;
	font-weight:bold;
	margin-top:3px;
}

.similar-info{
	font-size:12px;
	margin-top:3px;
}

#emi{
margin-top: 15px;
background: white;
position: relative;
text-align: left;
overflow: auto;
padding: 10px;
}

#emi-heading{
font-size:14px;
font-family: verdana;
color:#CC3300;
}

#emi-table{
float:left;
display:inline-block;
}

#emi-table td{
width:90px;
padding:3px;
text-align:right;
}

.header-cell{
background: #f0f0f0;
font-weight:bold;
color:#14396A;
}

.emibutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23) );
	background:-moz-linear-gradient( center top, #ffec64 5%, #ffab23 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23');
	background-color:#ffec64;
	-moz-border-radius:11px;
	-webkit-border-radius:11px;
	border-radius:11px;
	border:2px solid #ffaa22;
	display:inline-block;
	color:#333333;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffee66;
}
.emibutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64) );
	background:-moz-linear-gradient( center top, #ffab23 5%, #ffec64 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64');
	background-color:#ffab23;
}
.emibutton:active {
	position:relative;
	top:1px;
}