@import"reset.css";@import"superfish.css";@import"grid.css";@import"forms.css";@import"prettyPhoto.css";@import"galleryfic.css";@import"jqtransform.css";@import"kwicks.css";@import"coin-slider.css";@import"advanced.css";
body{background:url(../images/texture.gif) 50% 0 #171717;font:13px/18px Arial, Helvetica, sans-serif;color:#6b6a6a;position:relative;min-width:990px;}
html,body{height:100%;}
/* Global Structure---------------------------------------- */
.main{margin:0 auto;width:950px;}
/*----- txt,links,lines,titles -----*/
a{color:#1f295d;outline:none;cursor:pointer;text-decoration:underline;}
a:focus{outline:none;}
a:hover{text-decoration:none;}
.clear{clear:both;line-height:0;font-size:0;overflow:hidden;height:0;width:100%;}
.wrapper{width:100%;overflow:hidden;position:relative;}
.extra-wrap{overflow:hidden;display:block;}
p{margin-bottom:18px}
.p0{margin-bottom:0 !important}
.p1{margin-bottom:4px !important}
.p2{margin-bottom:15px !important}
.p3{margin-bottom:30px !important}
.p4{margin-bottom:40px !important}
.p5{margin-bottom:50px}
.p6{margin-bottom:60px !important;}
.p7{margin-bottom:70px}
.reg{text-transform:uppercase}
.fleft{float:left}
.fright{float:right}
.alignright{text-align:right}
.aligncenter{text-align:center}
.alignmiddle *{vertical-align:middle}
.it{font-style:italic}
.nowrap{white-space:nowrap;}
.letter{letter-spacing:-1px}
.color-1{color:#fff}
.color-2{color:#000}
.color-3{color:#1f295d}
/*********************************boxes**********************************/
.margin-bot{margin-bottom:35px !important}
.spacing{margin-right:30px;}
.indent-bot{margin-bottom:20px !important}
.indent-bot2{margin-bottom:30px}
.indent-bot3{margin-bottom:45px}
.img-indent-bot{margin-bottom:25px !important}
.img-indent{float:left;margin:0 20px 0px 0 !important}
.img-indent2{float:left;margin:0 24px 0px 0}
.img-indent3{float:left;margin:0 10px 0px 0px}
.img-indent-r{float:right;margin:0 0px 0px 30px}
.prev-indent-bot{margin-bottom:10px; color:#1f295d; font-size: 11px;font-weight: bold;text-transform: uppercase;text-decoration: underline;!important}
.prev-indent{float:left;margin:0 17px 0px 0}
.padding-top{padding-top:10px}
.padding-top1{padding-top:30px}
.padding-top2{padding-top:25px}
/*********************************header*************************************/
header{
	background:url(../images/header-tail.jpg) 50% 0 repeat-x;padding-top: 20px;padding-right: 0;padding-bottom: 10px;padding-left: 0;}
header h1{float:left;margin:0;}
header h1 a{background:url(../images/logo.png) 0 0 no-repeat;width:251px;height:115px;text-indent:-5000px;display:block;}
.slogan{float:left;color:#636261;font-size:14px;padding:39px 0 0 25px;}
nav{padding:16px 0 15px;background:url(../images/nav.jpg) 50% 0 repeat-x;box-shadow:0 2px 5px rgba(103,84,57,.45);position:relative;z-index:99;}
/********************** Content ************************/
section#content{background:url(../images/content-texture.jpg) 50% 0;}
.content-top{background:url(../images/content-bg.jpg) 50% 0 no-repeat;}
.content-bottom{background:url(../images/content-border.png) 0 100% repeat-x;padding:31px 0 93px;}

.slider{background:url(../images/slider-texture.png);padding:20px;width:950px;margin:0 auto 14px;}
/*  Header styles */
h1,h2,h3,h4,h5,h6{margin:0 0 30px;line-height:1.2em;color:#473f3b;text-transform:uppercase;}
h1{font-size:28px;}
h2{font-size:24px;letter-spacing:-1px;}
h3{font-size:21px;} 
h4{font-size:17px;margin:0 0 10px}   
h5{font-size:16px;}
h6{font-size:14px;margin:0 0 25px;}
h1 strong{color:#5cab22;font-size:30px;letter-spacing:-1px;line-height:1.2em;display:block;}
h1.h1{color:#1f295d;margin:0;}
h3.h3{color:#1f295d;font-size:20px;text-transform:none;margin:0;}

.blocks{padding:20px 15px 19px;margin:0 auto 30px;background:url(../images/slider-texture.png);overflow:hidden;width:960px;}
.block{background:url(../images/slider-bg.png);padding:19px;border:1px solid #c4c1b5;color:#838383;}
.blocks .block{float:left;margin:0 5px;width:270px;}
.propblock{background:url(../images/slider-bg.png);padding:19px;border:1px solid #c4c1b5;color:#838383;}
.blocks .propblock{float:left;margin:5px;width:142px;}
.block p{margin:0 0 21px;}
.block_1{margin:0 5px;background:url(../images/slider-bg.png);padding:19px;border:1px solid #c4c1b5;width:910px;color:#838383;}
.block_2{margin:0 5px;background:url(../images/slider-bg.png);padding:19px;border:1px solid #c4c1b5;width:590px;color:#838383;float:left;}
.shadow{box-shadow:0 0 5px rgba(0,0,0,.08)}

.text_1{font-size:14px;color:#1f295d;line-height:24px;}
.text_2{
	font-size: 18px;
	color: #1f295d;
	line-height: 24px;
	font-style: italic;
}
.price{font-size:18px;color:#1f295d;line-height:1.2em;display:inline-block;}

.relative{position:relative;z-index:4}
figcaption{position:absolute;bottom:0px;z-index:5;left:0px;right:0px;background:#1f1f1f;color:#fff;padding:3px 0;text-align:center;text-transform:capitalize;font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;font-weight:bold;}
.border-bot2{background:url(../images/border.gif) 0 100% repeat-x;padding-top:20px;margin-bottom:30px;}

/*  Buttons */
.button{color:#fff;display:inline-block;text-decoration:none;font-size:12px;background:url(../images/button-left.jpg) no-repeat;padding:0 0 0 5px;box-shadow:1px 1px 2px rgba(0,0,0,.21)}
.button>span{background:url(../images/button-right.jpg) 100% 0 no-repeat;display:inline-block;padding:0 5px 0 0;}
.button>span span{display:inline-block;background:url(../images/button-bg.jpg) repeat-x;padding:5px 11px 9px;}
.button:hover{background:url(../images/button-left.jpg) 0 -32px no-repeat;color:#000;}
.button:hover>span{background:url(../images/button-right.jpg) 100% -32px no-repeat;}
.button:hover>span span{background:url(../images/button-bg.jpg) 0 -32px repeat-x;}
.link{text-decoration:none;}
.link:hover{text-decoration:underline;}
.link-1{font-size:11px;font-weight:bold;text-transform:uppercase;}

.list-1 li{background:url(../images/aside-marker.gif) 0 7px no-repeat;padding:0 0 6px 13px;font-size:12px;}
.list-1 a{color:#6b6a6a;text-decoration:none;}
.list-1 a:hover{text-decoration:underline;}

.list-2{background:url(../images/list2-border.png) 0 0 repeat-x;padding-top:2px;}
.list-2 li{background:url(../images/list2-border.png) 0 100% repeat-x;padding-bottom:2px;}
.list-2 li a{display:block;color:#6b6a6a;text-decoration:none;padding:14px 0 15px 20px;overflow:hidden;background:url(../images/list2-hover.png) -20px -20px no-repeat;}
.list-2 li a>span{display:inline-block;float:left;padding:9px 0 0 8px;width:38px;height:37px;border-radius:23px;background:url(../images/list2-img-bg.png);margin-right:17px;}
.list-2 li a>em{width:0;height:0;font-size:0;line-height:0;overflow:hidden;background:url(../images/list2-img-bg-hover.png)}
.list-2 li a>span.hover{background:url(../images/list2-img-bg-hover.png)}
.list-2 li span span{width:30px;height:29px;display:block;}
.list-2 li:first-child span span{background:url(../images/list2-icon1.png);}
.list-2 li:first-child+li span span{background:url(../images/list2-icon2.png);}
.list-2 li:first-child+li+li span span{background:url(../images/list2-icon3.png);}
.list-2 li:first-child+li+li+li span span{background:url(../images/list2-icon4.png);}
.list-2 li:first-child a:hover span span{background:url(../images/list2-icon1.png) 0 -29px;}
.list-2 li:first-child+li a:hover span span{background:url(../images/list2-icon2.png) 0 -29px;}
.list-2 li:first-child+li+li a:hover span span{background:url(../images/list2-icon3.png) 0 -29px;}
.list-2 li:first-child+li+li+li a:hover span span{background:url(../images/list2-icon4.png) 0 -29px;}
.list-2 li a h4{margin:0;}
.list-2 li a h4.hover{color:#1f295d;}
.list-2 li a:hover{background:url(../images/list2-hover.png);}

ol li{list-style:decimal-leading-zero inside;color:#838383;padding:0 0 6px;}
ol li a{color:#838383;text-decoration:none;}
ol li a:hover{color:#d88241;}

time{display:block;font-size:14px;color:#1f295d;padding:0 0 8px;}
time.time{color:#fff;display:inline-block;text-decoration:none;font-size:12px;background:url(../images/button-left.jpg) no-repeat;padding:0 0 0 5px;box-shadow:1px 1px 2px rgba(0,0,0,.21);margin:0 0 5px;}
time.time>span{background:url(../images/button-right.jpg) 100% 0 no-repeat;display:inline-block;padding:0 5px 0 0;}
time.time>span span{display:inline-block;background:url(../images/button-bg.jpg) repeat-x;padding:5px 11px 9px;}

#map_canvas{width:350px;height:282px;}

aside{font-size:12px;color:#aba79f;padding:49px 0 35px;background:url(../images/aside-tail.gif) 50% 0 repeat-x;}
aside h6{color:#d5d3c9;}
aside li{background:url(../images/aside-marker.gif) 0 7px no-repeat;padding:0 0 6px 13px;font-size:12px;}
aside li a{color:#aba79f;text-decoration:none;}
aside li a:hover{color:#fff;}
aside .mail{color:#ba5624;text-decoration:none;}
aside .mail:hover{color:#fff;}
aside .icons{overflow:hidden;padding:19px 0 0;}
aside .icons li{float:left;padding:0;background:none;margin:0 7px 0 0;}
aside .icons li a{display:block;height:29px;}
aside .icons li:first-child a{width:32px;background:url(../images/icon1.png);}
aside .icons li:first-child a:hover{background:url(../images/icon1.png) 0 -29px;}
aside .icons li:first-child+li a{width:26px;background:url(../images/icon2.png);}
aside .icons li:first-child+li a:hover{background:url(../images/icon2.png) 0 -29px;}
aside .icons li:first-child+li+li a{width:26px;background:url(../images/icon3.png);}
aside .icons li:first-child+li+li a:hover{background:url(../images/icon3.png) 0 -29px;}
aside .icons li:first-child+li+li+li a{width:26px;background:url(../images/icon4.png);}
aside .icons li:first-child+li+li+li a:hover{background:url(../images/icon4.png) 0 -29px;}
aside .icons li:first-child+li+li+li+li a{width:29px;background:url(../images/icon5.png);}
aside .icons li:first-child+li+li+li+li a:hover{background:url(../images/icon5.png) 0 -29px;}
/******************** Footer ******************/
footer{padding:20px 0px;overflow:hidden;font-size:11px;color:#aba79f;width:950px;margin:0 auto;overflow:hidden;}
footer a{color:#aba79f;text-decoration:none;}
footer a:hover{color:#fff;}

.padding-right{padding-right:12px;}
.padding-bot{padding-bottom:5px;}

/* Left & Right alignment */
blockquote{display:block;margin:0 0px 35px 0px;quotes:none;background:url(../images/quotes.png) 3px 10px no-repeat;padding:0px 0px 0 48px;}

.top1{background:url(../images/top.gif) 0 60% no-repeat;padding:0 0 0px 13px;display:inline-block;text-decoration:none;color:#000;font-size:11px;line-height:1.2em;text-transform:uppercase;}
.top1:hover{color:#1f295d;}

ins{background:#d88241;padding:0 5px;text-decoration:none;color:#fff;}
del{text-decoration:line-through;}
abbr{cursor:help;}
dfn{letter-spacing:2px;color:#1f1f1f;}
sub{vertical-align:bottom}
sub,sup{font-size:.7em;color:#1f1f1f}
kbd,samp{font-size:.85em;}
b{color:#1f295d;}
.elements-list small{font-size:10px;font-family:Verdana,Geneva,sans-serif;} 
.elements-list big{font-size:18px;color:#1f295d;}
.elements-list q{font-family:"Courier New",Courier,monospace;}
abbr,acronym{text-transform:uppercase;border-bottom:1px dotted #696969;}
pre,code,tt{font:1em 'andale mono','lucida console',monospace;line-height:1.5;display:block}
code{background-color:#f6f6f6;display:block;color:#333;padding:3px 2px 3px 5px;line-height:1.67em;border:1px dotted #333}
pre{white-space:pre}
/* Layouts navigation */
.layouts-nav{width:100%;overflow:hidden;padding-bottom:30px !important}
	.layouts-nav li{float:left;margin-right:20px;background:none !important;padding:0 !important}
		.layouts-nav li a{float:left;background:#333;padding:2px 10px;color:#fff;position:relative;margin-right:10px;cursor:pointer;text-decoration:none;}
		.layouts-nav li a:hover{background:#aaa}
/* Definition list style */
dl dt{font-weight:bold;color:#1f295d;margin:0 0 18px;}
dl dd{padding:0 0 0 30px;}
dl dd span{display:inline-block;width:74px;}
dl.contacts dd a{float:right;}
dl.contacts{width:172px;}
dl.contacts dd{padding:0;}

/* Table styling */
table{border-collapse:separate;border-spacing:1px;font-size:12px;}
table thead th{background:#d88241;color:#fff;border:none;padding:6px 0;}
table tbody td{background:#bcbcbb;width:105px;text-align:center;border:none;padding:6px 0;color:#696969}
table tbody tr:hover td{background:#828387;color:#fff;}

/* Information box */
.info-box,.download-box,.notification-box,.error-box{padding:20px 30px 20px 110px;margin-bottom:15px;position:relative;height:1%;font-size:13px;}
.info-box{color:#64757f;background:#e1f2fc;border:1px solid #68a2cf}
.download-box{color:#697a58;background:#eeffdd;border:1px solid #a3c159}
.notification-box{color:#79725b;background:#fef7e0;border:1px solid #e6c555}
.error-box{color:#7e6c6c;background:#feebeb;border:1px solid #ff9999}
.info-box p.icon,.download-box p.icon,.notification-box p.icon,.error-box p.icon{position:absolute;left:34px;top:16px;margin:0}
/* Pages
---------------------------------------- */
/* 404 page */
/* Under Construction page =====*/
#constuction-box{width:800px;height:500px;position:absolute;left:50%;top:50%;margin-left:-400px;margin-top:-250px;background:url(../images/content-texture.jpg);text-align:center}
	#constuction-box .inside{padding:40px 40px 40px 40px}
		#constuction-box h1{text-align:center;font-size:4em;margin-bottom:.2em;line-height:1.2em;letter-spacing:2px;border-bottom:1px solid #ddd;padding-bottom:10px;}
	/* Countdown */
	#countdown_dashboard{height:110px;padding:30px 0 40px 0;width:650px;margin:0 auto;position:relative}
	.dash{width:110px;height:114px;background:transparent url('../images/dash.png') 0 0 no-repeat;float:left;margin-left:20px;position:relative}	
	.dash .digit{font-size:75px;line-height:92px;font-weight:bold;float:left;width:55px;text-align:center;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;color:#555;position:relative}
		.dash .digit .bottom{font-size:75px;line-height:92px}	
	.dash_title{position:absolute;display:block;bottom:0px;left:0;font-size:12px;color:#555;letter-spacing:2px;width:110px}	
/* Intro page */
#intro-box{width:600px;height:400px;position:relative;left:50%;top:50%;margin-left:-300px;margin-top:-200px;background:url(../images/content-texture.jpg);text-align:center;float:left}
	#intro-box .inside{padding:40px 40px 40px 40px}
		#intro-box h1{text-align:center;font-size:4em;margin-bottom:.2em;line-height:1.2em;position:absolute;left:0;top:-90px;width:600px;overflow:hidden;height:100px;color:#fff;}
		#intro-box .button{position:absolute;right:40px;bottom:10px;float:right;white-space:nowrap}
		.intro-buttons{width:500px;padding:0 50px;position:absolute;left:0;bottom:50px}
		#flash-intro{margin-bottom:20px;position:absolute;left:23px;top:20px}
/* Content
---------------------------------------- */
.img-404{float:left;margin:0 64px 0 0;}
/* Lightbox image */

.lightbox-image{display:inline-block;position:relative;overflow:hidden;}
.lightbox-image img.magnify{position:absolute;width:3375px;height:4500px;margin:-2250px 0 0 -1688px;left:50%;top:50%;
	-moz-transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
	transition:all 0.5s ease;
}
.lightbox-image:hover img.magnify{width:45px;height:60px;margin:-30px 0 0 -23px;-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg);}
/* SlideDown element */
	.slideDown dt{background-color:#333132;background-image:url(../images/arrow1.gif);background-repeat:no-repeat;background-position:100% 16px;box-shadow:1px 1px 1px #d1d1d1;-moz-box-shadow:1px 1px 0 #d1d1d1;-webkit-box-shadow:1px 1px 0 #d1d1d1;color:#fff;padding:9px 0 9px 21px;margin-bottom:4px;font-weight:bold;display:block;font-size:12px;cursor:pointer;margin-bottom:10px}
	.slideDown dt:hover,.slideDown dt.active{background-color:#bbb;color:#fff;text-shadow:0 0 5px #fff}
	.slideDown dt.active{background-image:url(../images/arrow2.gif)}
	.slideDown dd{display:none;padding:10px 20px 20px 20px;line-height:20px;}
	#block dd{display:block}
	.slideDown.absolute{position:relative;}
	.slideDown.absolute dd{position:absolute;z-index:999;background:url(../images/content-texture.jpg);}
/* Accordion */
dl#accordion{list-style-type:none;margin:0;padding:0 2px 0 0;height:auto !important}
	dl#accordion .indent{padding-top:7px !important;padding-bottom:5px !important}
	dl#accordion a{display:block;}
	dl#accordion dt{margin:0px}
		dl#accordion dt a{background-color:#333132;background-image:url(../images/arrow1.gif);background-repeat:no-repeat;background-position:100% 16px;box-shadow:1px 1px 1px #d1d1d1;-moz-box-shadow:1px 1px 0 #d1d1d1;-webkit-box-shadow:1px 1px 0 #d1d1d1;color:#7f7f7f;padding:9px 0 9px 21px;margin-bottom:4px;font-weight:bold;display:block;font-size:12px;text-decoration:none;}
		dl#accordion dt a:hover{background-color:#8e8d8b;color:#fff}
		dl#accordion dt.active a{background-color:#ccc;background-image:url(../images/arrow2.gif);color:#333}
	dl#accordion dd{display:none;margin-bottom:0;padding-left:0}
		dl#accordion dd .indent{padding:10px 30px 14px 20px !important}
		dl#accordion dd a{display:inline;background:none;padding:0;width:auto;text-decoration:none}
		dl#accordion dd a:hover{background:none}
		dl#accordion dd .sub_menu  li{list-style:none;line-height:30px!important;padding-left:12px;}
		.sub_menu{font-size:12px;line-height:16px;}
		.sub_menu li a{line-height:30px !important;text-decoration:underline !important;}
		.sub_menu li a:hover{text-decoration:none !important;}
/* Tooltips */
#aToolTip{border:2px solid #444;background:#555;color:#fff;margin:0;padding:2px 8px;font-size:11px;position:absolute;display:none;z-index:50000}
#aToolTip .aToolTipContent{position:relative;margin:0;padding:0}
a#aToolTipCloseBtn{display:block;height:20px;width:20px;overflow:hidden;background:url(../images/close.gif) no-repeat;text-indent:-9999px;outline:none;position:absolute;top:-15px;right:-20px}
/* Elements list */
.elements-list li{background:none !important;padding:0 0 0px 0 !important;position:relative;line-height:28px}
.elements-list li code{position:absolute;right:0;top:-3px;padding:2px 3px 1px 3px;border:1px dotted #333}
/* Tabs */
.tabs{padding:10px 0}
	.tabs ol{list-style-type:decimal;margin:0 0 0 20px}
		.tabs ol li{display:list-item;float:none;padding-bottom:5px !important;font-size:12px;color:#6b6a6a}	
	.tabs ul{list-style:none;padding:0 0 0 0 !important;overflow:hidden}
		.tabs li{display:block;float:left;margin:0 5px 5px 0;background:none;padding:0 0 0 0 !important}
		.tabs .selected{margin-bottom:0px;position:relative}
		.tabs .selected a{background:#f0f0f0;color:#000;padding-bottom:10px}
		.tabs li a:hover{background:#f0f0f0;color:#000}
		.tabs li a{background:#000;color:#fff;display:block;padding:5px 10px;text-decoration:none}
	.tabs .tab-content{background:#f0f0f0;clear:both;width:auto;overflow:auto}
		.tabs .tab-content .inner{padding:10px}	
	.tabs p{margin-bottom:5px}
	.tabs .tab-content strong{color:#000}	
	.tabs pre{margin:4px 0}
	.tabs code{overflow:auto}
	*+html .tabs code{overflow:visible}
/* Twitter */
#twitter p{margin:0;}
	#twitter h2{margin:0 0 5px 0;padding:.5em 1em;font-size:1.5em;color:#fff;background-color:#888;letter-spacing:0;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px}
	#preloader{margin:0;padding:1em 1em 1em 3em;text-indent:10px;background:transparent url(../images/loader.gif) 1em center no-repeat}
	ul#twitter_update_list{margin:0;padding:0 0 0.5em 0;list-style-type:none}
		ul#twitter_update_list li{margin:0;padding:0.8em 0 1em 1em !important;background:#f0f0f0;margin-bottom:7px}
		ul#twitter_update_list li:hover{background-color:#ccc;color:#fff}
			ul#twitter_update_list li:hover a{color:#000}
			ul#twitter_update_list li a{color:#000}			
				ul#twitter_update_list li span{display:block}				
				ul#twitter_update_list li span a{color:#000}
			ul#twitter_update_list li.lastTweet{border-bottom:none}			
			a#profileLink{display:block;padding:0.3em 1em;color:#fff;background-color:#000}
			a#profileLink{display:block;padding:0.3em 1em;color:#fff;background-color:#000}
/* Code grabber */
.code{padding:30px 0 10px 0}
.code a.code-icon{margin-bottom:10px}
.code a.code-icon i{padding-right:6px;font-style:normal}
.code div.grabber{display:none}
.code code{padding:0 10px 0 10px;background:#f6f6f6;color:#333;border:1px solid #dfdfdf;white-space:pre;overflow:auto}

.featured-property{
	float:left;
	width:200px;
	margin:10px;
	overflow:auto;
}

.featured-image, .similar-image{
	width:150px;
	height:112px;
	border: 5px solid #ffffff;
	border-bottom: 10px solid #ffffff;
	box-shadow: #777777 0px 0px 5px 0px;
}

.featured-address{
	font-size:12px;
	color:#CC3300;
	margin-top:3px;
}

.featured-price{
	font-size:12px;
	color:#14396A;
	font-weight:bold;
	margin-top:3px;
}

.featured-info{
	font-size:12px;
	margin-top:3px;
}