html {
    height: 100%;
    box-sizing: border-box;
}
body 
{	
	background:#fff;
	font-size:14px;
	color:#716e6e;
	font-family: 'Lato', sans-serif;
	background:url(images/bg.png) no-repeat center center fixed;
	background-size:cover;
	font-weight:300;	
	line-height:22px;		
	    padding-bottom: 74px;
	  min-height: 100%;
    position: relative;
    margin: 0;
}
form.info-form select {
    margin-bottom: 20px;
    background: #fff;
    width: 100%;
    outline: none;
    padding-left: 20px;
    border-radius: 30px;
    height: 46px;
    border: 1px solid #d1d1d1;
}

input, submit, button { box-shadow:none !important;}
a
 {
	color: #000;
	text-decoration:none;
}
a:hover 
{
	color: #000;
	text-decoration:underline;
}
h1 
{ 
	color:#000;
	font-family: 'Lato', sans-serif;
	font-weight:500;	
		
		
		
} 
h2, h3, h4, h5, h6 
{
	color:#000;
	font-family: 'Lato', sans-serif;
	font-weight:500;	
	
	
	
}
.glyphicon-search:before {
    content: "\e003";
    font-family: 'Glyphicons Halflings';
}
select { outline:none !important;}
h1, h2, h3, h4, h5, h6, p
 {font-family: 'Lato', sans-serif;
	margin-top: 0;
	padding: 0px;
	margin-right: 0;
	margin-bottom: 20px;
	margin-left: 0;
}
p 
{
	line-height: 22px;
	color:#000;
	font-size:16px;
	
}
p:last-child 
{
	margin-bottom:0px;
	
}
h1 
{
	font-size:30px;
}

h2 
{
	font-size: 26px;
}
h3 
{
	font-size: 24px;
}
h4 
{
	font-size: 20px;
}
h5 
{
	font-size: 18px;
}
h6 
{
	font-size: 16px;
}
:before, :after
{
	font-family:Material-Design-Iconic-Font;

}
.clear:after 
{
	content:"";
	width:100%;
	clear:both;
	display:table;
}
.container-fluid{
	width:900px;
}
.white-box-outer {
    background: rgba(255, 255, 255, 0.91);
    border: 5px solid #ccc;
    text-align: center;
    margin: 11% 0px;
}
.footer-img img {
    border: 4px solid #d1d1d1;
}
ul.info-list {
    padding-left: 0px;
    list-style: none;     margin-top: 56px;
    margin-bottom: 0px;
}
ul.info-list li {
    display: inline-block;
    float: left;
    width: 50%;
    padding: 15px 0px;
    border: 1px solid #ccc;
	color:#222222;
     
}
p.thank-txt span {
    display: block;
    width: 60%;
    border: 1px solid #b10000;
    border-radius: 30px;
    padding: 4px 0px;
    background: rgba(181, 22, 16, 0.67);
    color: #fff;
    margin: 12px auto 0px;
}
p.note {
    width: 80%;
    margin: 20px auto;
}
p.thank-txt {
    text-transform: inherit !important;
}
p.thank-txt span{display:block;}
i.zmdi.zmdi-assignment-check.circle {
    width: 120px;
    height: 120px;
    font-size: 52px;
    border: 2px solid #04b954;
    border-radius: 50%;
    padding: 30px;
    margin: 0 auto;
    color: #04b954;
    margin: 40px auto;
    display: block;
}
ul.info-list li:nth-child(1){border-left:0px;border-right:0px;border-bottom:0px;}
ul.info-list li:nth-child(2){border-right:0px;border-bottom:0px;}
ul.info-list li:nth-child(1) a{position:relative;padding-left: 38px;color:#222222;}
ul.info-list li:nth-child(1) a:before{   content: '\f2be';
    position: absolute;
    color: #246096;
	top: -4px;
    font-family: 'Material-Design-Iconic-Font';
    border-radius: 40px;
    padding: 2px 7px;
    border: 1px solid #ccc;
    left: 0px;}
ul.info-list li:nth-child(2) a{position:relative;padding-left: 38px;color:#222222;}
ul.info-list li:nth-child(2) a:before{  
content: '\f15a';
    position: absolute;
    color: #246096;
	top: -4px;
    font-family: 'Material-Design-Iconic-Font';
    border-radius: 40px;
    padding: 2px 7px;
    border: 1px solid #ccc;
    left: 0px;}
p.info-note {
    text-transform: inherit;
    background: rgba(36, 96, 150, 0.8);
    border-radius: 30px;
    margin: 35px auto;
	text-transform:inherit !important;
    border: 1px solid #054ba1;
    display: inline-block;
    padding: 4px 15px 5px 15px;
    color: #fff;
	margin-bottom:60px;
}
.img-outer {
    background: #fff;
    border: 3px solid #d1d1d1;
    width: 360px;
    height: 130px;
	margin: 60px auto;
    padding: 10px;
}
.white-box-content p {
    text-align: center;
	text-transform:uppercase;
}
form.form-outer {
    text-align: center;
}
form.form-outer input {
    background: #fff;
    width: 70%;
	outline:none;
	padding-left:20px;
	    border-radius: 30px;
    height: 46px;
	border:1px solid #d1d1d1;
 
}
.input-outer {

    position: relative;
}
form.form-outer button {
    position: absolute;
	outline:none;
      right: 15%;
    border-radius: 30px;
    height: 46px;
    width: 110px;
    background: #246096;
    border: 1px solid #246096;
    color: #fff;
	
}
.img-outer img{margin:0 auto;}

.scrollup {
   width: 40px;
    height: 48px;
    position: fixed;
    bottom: 15px;
	z-index:20;
    border-bottom: 5px solid #34728C;
      right: 14%;
    display: none;
    text-indent: -9999px;
 background:url('images/scroll-top.png') no-repeat;
    background-color: #408FB0;transition:ease-in-out 0.5s;
}
form.info-form input {
    margin-bottom: 20px;
    background: #fff;
    width: 100%;
    outline: none;
    padding-left: 20px;
    border-radius: 30px;
    height: 46px;
    border: 1px solid #d1d1d1;
}
p.register-note {
    border: 1px solid #b9b9b9;
    padding: 3px;
    background: #b81b14;
    color: #fff;
}
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
     background-color: rgba(36, 96, 150, 0.8);
    text-align: center;
}
form.info-form label{width:100%;}
form.info-form input {
    width: 100%;
    margin-bottom: 20px;
}
form.info-form label {
    width: 100%;

    text-align: left;
    color: #000;
    font-weight: 500;
}
.footer p{color:#fff;padding:20px 0px;}

.white-box-content.padd {
    padding: 0px 30px;
}

form.info-form div.radio-btn {
    min-height: 80px;
    border: 1px solid #d1d1d1;
    margin-bottom: 15px;
    background: #fff;
    padding: 12px 20px;
}
.checkbox-btn, .radio-btn {
	position: relative;
	padding-left: 00px
}
.checkbox-btn input[type="checkbox"], .checkbox-btn input[type="radio"], .radio-btn input[type="checkbox"], .radio-btn input[type="radio"] {
	position: absolute;
	opacity: 0;
	z-index: 1
}
.checkbox-btn label, .radio-btn label {
	display: inline-block;
	line-height: 24px;
	vertical-align: middle;
	position: relative;
	padding-left: 40px;
	cursor: pointer;
	user-select: none;
	color: #424242
}
.checkbox-btn label::after, .radio-btn label::after {
	position: absolute;
	content: "";
	width: 18px;
	height: 18px;
	left: 18px;
	top: 0;
	margin-left: -18px;
	background-color: white;
	border: 3px solid #424242;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-clip: padding-box;
	cursor: pointer;
	box-sizing: content-box;
}
.checkbox-btn label::before, .radio-btn label::before {
	position: absolute;
	content: "";
	width: 10px;
	height: 5px;
	top: 6px;
	left: 24px;
	margin-left: -18px;
	border: 3px solid #000;
	border-top: none;
	border-right: none;
	background: transparent;
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	opacity: 0;
	-webkit-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	z-index: 1;
	box-sizing: content-box;
}
.checkbox-btn label:active::before, .radio-btn label:active::before {
	opacity: 0.3
}
.checkbox-btn input[type="checkbox"]:checked+label, .checkbox-btn input[type="radio"]:checked+label, .radio-btn input[type="checkbox"]:checked+label, .radio-btn input[type="radio"]:checked+label {
	color: #000
}
.checkbox-btn input[type="checkbox"]:checked+label::after, .checkbox-btn input[type="radio"]:checked+label::after, .radio-btn input[type="checkbox"]:checked+label::after, .radio-btn input[type="radio"]:checked+label::after {
	    border: 3px solid #1e4d78;
}
.checkbox-btn input[type="checkbox"]:checked+label::before, .checkbox-btn input[type="radio"]:checked+label::before, .radio-btn input[type="checkbox"]:checked+label::before, .radio-btn input[type="radio"]:checked+label::before {
	opacity: 1
}
.checkbox-btn input[type="checkbox"]:disabled+label, .checkbox-btn input[type="radio"]:disabled+label, .radio-btn input[type="checkbox"]:disabled+label, .radio-btn input[type="radio"]:disabled+label {
	color: #787878;
	cursor: default
}
.checkbox-btn input[type="checkbox"]:disabled+label::after, .checkbox-btn input[type="radio"]:disabled+label::after, .radio-btn input[type="checkbox"]:disabled+label::after, .radio-btn input[type="radio"]:disabled+label::after {
	border: 3px solid #787878;
	background-color: #ffffff
}
.checkbox-btn input[type="checkbox"]:disabled+label::before, .checkbox-btn input[type="radio"]:disabled+label::before, .radio-btn input[type="checkbox"]:disabled+label::before, .radio-btn input[type="radio"]:disabled+label::before {
	display: none
}
.radio-btn label::after {
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-clip: padding-box
}
.radio-btn label::before {
	width: 12px;
	height: 12px;
	border: none;
	top: 6px;
	left: 24px;
	-webkit-border-radius: 50%;
	    background-color: #1e4d78;
	border-radius: 50%;
	background-clip: padding-box;

	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg)
}
form.info-form h3 {
    font-size: 18px;
    padding: 12px;
    border: 1px solid #ccc;
 
}
form.info-form span {
    color: #ff0d00;
    font-size: 14px;
}
.info-form .sub-btn {
    outline: none;
    border-radius: 30px;
    height: 46px;
    padding: 10px 90px;
    text-transform: uppercase;
    background: #246096;
    border: 1px solid #246096;
    color: #fff;
}
/**/
/*Nav-one*/

/*Responsive table*/
/*======
Media Queries
=======*/
/*========================*/
@media (min-width: 1200px) and (max-width: 1910px) {
	body{padding-bottom:8%;}
.white-box-outer {
    width: 70%;
    margin: 5% auto 3% auto;
}	
.container-fluid {
    width: 90%;
}
p.info-note {

margin-bottom: 40px;}
ul.info-list {
    padding-left: 0px;
    list-style: none;
      margin-top: 40px;
    margin-bottom: 0px;
}
}

@media (min-width: 992px) and (max-width: 1199px) {
.container-fluid {
    width: 90%;
}
p.info-note {

    width: 80%;
}
form.form-outer input {

    width: 80%;

}
form.form-outer button {

    right: 10%;

}
	.white-box-outer {
    background: rgba(255, 255, 255, 0.91);
    border: 5px solid #ccc;
    position: none;
    transform: translate(none, none);
     width: 100%;
    height: auto;
    text-align: center;
}


}

@media (min-width: 768px) and (max-width: 991px) {
	.container-fluid {
    width: 90%;
}

p.info-note {

    width: 80%;
}
form.form-outer input {

    width: 80%;

}
form.form-outer button {

    right: 10%;

}
	.white-box-outer {
    background: rgba(255, 255, 255, 0.91);
    border: 5px solid #ccc;
    position: none;
    transform: translate(none, none);
        width: 100%;
    height: auto;
    text-align: center;
}


}

@media (min-width: 320px) and (max-width: 767px) {
	.container-fluid {
    width: 90%;
}
	p.info-note {

    width: 80%;
}
form.form-outer input {

    width: 80%;

}
form.form-outer button {

    right: 10%;

}
	.white-box-outer {
    background: rgba(255, 255, 255, 0.91);
    border: 5px solid #ccc;
    position: none;
    transform: translate(none, none);
      width: 100%;
    height: auto;
    text-align: center;
}
	ul.info-list li {

    float: none;
    width: 100%;

}
.img-outer {

width: 80%;}
ul.info-list li:nth-child(1) a:before {
   
    top: 0px;
    right: 0;
    margin: 0 auto;
  
    left: 0px;
    width: 30px;
}
ul.info-list li:nth-child(2) a:before {
     top: 0px;
    right: 0;
    margin: 0 auto;
  
    left: 0px;
    width: 30px;
}
ul.info-list li:nth-child(1) a {
    position: relative;
    padding-left: 0px;
    color: #222222;
    padding-top: 40px;
    display: inline-block;
}
ul.info-list li:nth-child(1) span {
    display: block;
}
ul.info-list li:nth-child(2) a {
    position: relative;
    padding-left: 0px;
    color: #222222;
    padding-top: 40px;
    display: inline-block;
}
.img-outer {
    width: 80%;
    margin: 20px auto;height: auto;
}

}

@media (min-width: 320px) and (max-width: 480px) {
	form.form-outer button {
    right: 0px;
    position: relative;
    margin-top: 17px;
    width: 80%;
}
}